body {
	margin:0px;
	padding:0px;
	background-color:#E5E5E5;
	background-image:url(images/noise-3.png);
}
header {
	height:200px;
	background:url(images/green-line-main.png) repeat-x bottom;
}
#reg {
	width:500px;
	height:100px;
	float:right;
	margin-top:25px;
}
#reg input[type="text"], #reg input[type="password"] {
	height:25px;
	width:180px;
	border-radius:5px;
	border:2px solid #999;
	background-color:#F2F2F2;
}
#reg input[type="text"]:focus, #reg input[type="password"]:focus {
	border:2px solid #F60;
	outline:none;
	box-shadow: 0px  0px 6px #FD9926;
	transition-duration:0.3s;
}
#reg input[type="submit"] {
	height:31px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	width:80px;
	border-radius:5px;
	border:1px solid gray;
	outline:none;
	background-image:url(images/green-line-main.png);
}
#reg input[type="submit"]:hover {
	background-color:#7A962B;
	background-image:none;
}
::-webkit-input-placeholder{
	font-size:12px;
	color:#999;
	padding-left:5px;
}
header > img {
	margin-left:50px;
	margin-top:45px;
}
#reg {
	font-size:12px;
}
#reg a {
	margin-right:45px;
	position:relative;
	top:-7px;
	text-decoration:none;
	color:#749B33;
}
#reg a:hover {
	text-decoration:underline;
}
#reg label {
	position:relative;
	bottom:-8px;
}

/*-------------------topNav------------------*/
.topNav {
	width:100%;
	margin:auto;
	padding-left:5px;
	position:relative;
	top:-50px;
	box-sizing:border-box;
	z-index:10000;
}
.navList {
	padding:0px; 
	display:table;
	margin:auto;
}
.navList li {
	display:inline-block;
	list-style:none;
	margin-left:-4px;
}
.navList li a {
	border:1px solid #282828;
	border-right:none;
	font-size:12px;
	background-image:url(images/navbar-switcher.png);
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-align:center;
	display:block;
	line-height:40px;
	padding:0 28px;
	box-sizing:border-box;
}
.navList li a:hover {
	background-image:url(images/noise.png);
	background-color:#4B4B4B !important;
}
.navList li:first-child a{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	width:32px;
    background-image: url(images/navbar-switcher.png);
	background-color:#282828;
	padding:0 25px;
}
.activeLinkClass {
	background-color:#282828 !important;
	background-image:none !important;
}
.navList li:first-child a img {
	position:relative;
	left:-10px;
	top:6px;
}
.navList li:last-child  a{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.fixed {
	position:fixed;
	top:0px;
}
.content {
	width:940px;
	margin:auto;
}


/*-----------------------banner-------------------------*/
.banner {
	margin-top:-42px;
	height:233px;
	position:relative;
}
.banner img {
	display:none;
	position:absolute;
}
.icons {
	position:absolute;
	bottom:10px;
	right:10px;
}
.icons > div {
	height:11px;
	width:10px;
	display:inline-block;
	background:url(images/cycle-nav.png) no-repeat left;
}
.icons > div:hover {
	cursor:pointer;
}
.current {
	background:url(images/cycle-nav.png) no-repeat right !important;
}
.whiteBg {
	width:100%;
	background-color:white;
	box-sizing:border-box;
	height:233px;
	position:absolute;
	top:200px;
}
.calc {
	height:350px;
	background:url(images/calculator-bg.jpg);
	margin-top:1px;
}


/*-----------------------slider-------------------------*/
.money {
	height:100px;
	clear:both;
	width:670px;
	position:relative;
	margin:auto;
}
.slider {
	width:70%;
	margin:50px auto;
	float:left;
	position:relative;
	z-index:50;
}
.ofg-slider-track, .ui-slider-handle {
	height:34px !important;
	width:26px !important;
	padding:0;
	outline:none !important;
	border: none !important;
	background:url(images/calculator-sprite.png) !important;
	background-position: 0 -68px !important;
}
.ui-corner-all {
	border-radius:0% !important;
}
.ui-slider-horizontal{
	background:url(images/slider-fill.png) !important;
	height:8px;
	position:relative !important;
	z-index:35 !important;
}

.ui-slider-handle {
	margin-top:-7px;
}

#val {
	width:70px;
	margin-left:10px;
	font-weight:bold;
	font-size:19px;
	line-height:30px;
	border-radius:2px;
	border:none;
	text-align:center;
	margin-top:40px;
	outline:none;
}

#butmon {
	background:url(images/calculator-sprite.png) 0 -34px;
	height:34px;
	width:34px;
	text-align:center;
	position:relative;
	top:10px;
	font-weight:bold;
	border-radius:2px;
	border:none;
	margin-left:15px;
	outline:none;
	font-size:20px;
}
#bu1 {
	float:left;
	margin-top:27px;
}
#butmon1 {
	background:url(images/calculator-sprite.png);
	height:34px;
	margin-right:12px;
	width:34px;
	text-align:center;
	position:relative;
	top:10px;
	font-weight:bold;
	border-radius:2px;
	border:none;
	margin-left:15px;
	outline:none;
	font-size:20px;
}
.measure {
	top:-67px;
	position:relative;
	height:40px;
	width:472px;
	left:195px;
}
.sld {
	background:url(images/slider-section.png) no-repeat right;
	position:absolute;
	width:65px;
	height:40px;
	left:30px;
}
.a {
	left:10px;
}
.b {
	left:80px;
}
.c {
	left:160px;
}
.d {
	left:230px;
}
.e {
	left:300px;
}
.f {
	left:370px;
}
.right {
	text-align:right;
	color:white;
	font-weight:bold;
	text-indent:10px;
	position:relative;
	right:-10px;
	top:-15px;
}
.title {
	position:absolute;
	color:white;
	margin-bottom:30px;
	top:-25px;
	left:15px;
}
.title span:last-child {
	background-color:#517026;
	padding:5px;
	border-radius:3px;
	position:relative;
	top:-2px;
	font-size:15px;
	margin-left:2px;
}
.m {
	font-size:23px;
	font-weight:bold;
}
.m:before {
	margin-right:7px;
	content:url(images/calculator-title-bg.png);
}
.all {
	padding-top:50px;
}
.wrapper {
	position:relative;
	left:-120px;
}
.another {
	margin-top:-40px;
}



/*---------------------- test ------------------------------- */

/*-----------------------slider-------------------------*/
.money {
	height:100px;
	clear:both;
	width:670px;
	position:relative;
	margin:auto;
}
.slider {
	width:70%;
	margin:50px auto;
	float:left;
	position:relative;
	z-index:50;
}
.ofg-slider-track, .ui-slider-handle {
	height:34px !important;
	width:26px !important;
	padding:0;
	outline:none !important;
	border: none !important;
	background:url(images/calculator-sprite.png) !important;
	background-position: 0 -68px !important;
}
.ui-corner-all {
	border-radius:0% !important;
}
.ui-slider-horizontal{
	background:url(images/slider-fill.png) !important;
	height:8px;
	position:relative !important;
	z-index:35 !important;
}

.ui-slider-handle {
	margin-top:-7px;
}

.val {
	width:70px;
	margin-left:10px;
	font-weight:bold;
	font-size:19px;
	line-height:30px;
	border-radius:2px;
	border:none;
	text-align:center;
	margin-top:40px;
	outline:none;
}

.butmon {
	background:url(images/calculator-sprite.png) 0 -34px;
	height:34px;
	width:34px;
	text-align:center;
	position:relative;
	top:10px;
	font-weight:bold;
	border-radius:2px;
	border:none;
	margin-left:15px;
	outline:none;
	font-size:20px;
}
.bu1 {
	float:left;
	margin-top:27px;
}
.butmon1 {
	background:url(images/calculator-sprite.png);
	height:34px;
	margin-right:12px;
	width:34px;
	text-align:center;
	position:relative;
	top:10px;
	font-weight:bold;
	border-radius:2px;
	border:none;
	margin-left:15px;
	outline:none;
	font-size:20px;
}
.measure {
	top:-67px;
	position:relative;
	height:40px;
	width:472px;
	left:195px;
}
.sld {
	background:url(images/slider-section.png) no-repeat right;
	position:absolute;
	width:65px;
	height:40px;
	left:30px;
}
.a {
	left:10px;
}
.b {
	left:80px;
}
.c {
	left:160px;
}
.d {
	left:230px;
}
.e {
	left:300px;
}
.f {
	left:370px;
}
.right {
	text-align:right;
	color:white;
	font-weight:bold;
	text-indent:10px;
	position:relative;
	right:-10px;
	top:-15px;
}
.title {
	position:absolute;
	color:white;
	margin-bottom:30px;
	top:-25px;
	left:15px;
}
.title span:last-child {
	background-color:#517026;
	padding:5px;
	border-radius:3px;
	position:relative;
	top:-2px;
	font-size:15px;
	margin-left:2px;
}
.m {
	font-size:23px;
	font-weight:bold;
}
.m:before {
	margin-right:7px;
	content:url(images/calculator-title-bg.png);
}
.all {
	padding-top:50px;
}
.wrapper {
	position:relative;
	left:-120px;
}
.another {
	margin-top:-40px;
}

.calc {
	position:relative;
}
.sum {
	width:200px;
	height:310px;
	background-color:white;
	border-radius:7px;
	position:absolute;
	right:30px;
	padding:10px;
	box-sizing:border-box;
	top:20px;
}
.sum .head {
	width:140px;
	text-align:center;
	margin:auto;
	font-weight:bold;
	color:#777;
}
.date {
	text-align:center;
	font-size:22px;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	margin-top:5px;
}
.table {
	font-size:13px;
	
}
.table tr td {
	padding-right:5px;
}
.sum .head2 {
	text-align:center;
	font-weight:bold;
	color:#000;
	font-size:12px;
	margin-top:4px;
}
.ri {
	text-align:right;
	margin-top:-8px;
}
.top {
	margin-top:-17px;
}
.loan {
	display:block;
	width:175px;
	line-height:40px;
	background:url(images/noise-3.png);
	background-color:#FC9B2B;
	color:white;
	font-size:23px;
	border:3px solid #617347;
	border-radius:6px;
	margin-top:20px;
	outline:none;
	font-weight:bold;
}
.loan:hover {
	cursor:pointer;
	background-color:#F69525;
}



/*--------------------------------------- boxInfo --------------------------------------*/
.infoBox {
	display:flex;
	justify-content:space-between;
	margin-top:50px;
}
.infoBox > div {
	height:210px;
	width:303px;
}
.infoBox > div > p {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.infoBox > div > h2 {
	margin:0px;
	padding:0px;
	text-align:center;
	font-weight:normal;
	background:url(images/noise-3.png),
                      url(images/bg-active-tab.png) bottom repeat-x;
	padding-bottom:12px;
	background-color:#E5E5E5 !important;
}
.infoBox > div:nth-child(1) {
	background-color:#DEE9D0;
}
.infoBox > div:nth-child(1) img {
	float:right;
}
.infoBox > div:nth-child(1) p {
	color:#333;
	margin-left:17px;
	font-family:Arial, Helvetica, sans-serif;
}
.infoBox > div:nth-child(2) p {
	margin-top:-12px;
	padding:0px;
}
.infoBox > div:nth-child(2) p > a {
	color:#3979FF;
	text-decoration:none;
}
.infoBox > div:nth-child(2) p > a:hover {
	text-decoration:underline;
}
.infoBox > div table {
	text-align:center;
}
table {
	font-size:14px;
	margin-bottom:8px;
}
.bold {
	font-size:16px !important;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.send {
	margin:auto;
	text-align:center;
	display:table;
	width:180px;
	height:33px;
	background-color:#8FAF36 !important;
	border:1px solid #60AA0A;
	margin-bottom:15px;
	cursor:pointer !important;
	color:white;
	font-size:12px;
	border-radius:4px;
	position:relative;
	padding-left:30px;
}
.send:hover {
	background-color:#728E23 !important;
}
.send:nth-of-type(1){
	background:url(images/button-icon-chat.png) 10px center no-repeat;
}
.send:nth-of-type(2){
	background:url(images/button-icon-email.png) 10px center no-repeat;
	font-family:Tahoma, Geneva, sans-serif;
}

.mainArticle {;
	margin-top:70px;
	color:#333;
	font-size:12px;
	text-align:justify;
	margin-bottom:100px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
}

.mainFooter {
	height:350px;
	background:url(images/noise.png);
	background-color:#DFDDE1;
}
.likeButton {
	height:100px;
}
.socNet  {
	display:table;
	margin:auto;
}
.socNet a {
	margin-left:8px;
	margin-right:8px;
}
.mobile {
	display:block;
	text-align:center;
	color:inherit;
}
.mainFooter {
	font-size:13px;
}

.questions {
	display:table;
	margin:auto;
	margin-top:20px;
}
.questions li {
	list-style:none;
	display:inline-block;
	margin-right:10px;
	margin-left:10px;
}
.sm li {
	margin-left:5px;
	margin-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.sm li a {
	font-size:11.5px !important;	
}
.sm span {
	line-height:15px !important;
	font-size:15px !important;
}
.questions li a {
	text-decoration:none;
	color:#666;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.questions li a:hover {
	text-decoration:underline;
}
.questions span {
	font-size:20px;
	color:#000;
	line-height:30px;
}


/*-------------------------- left menu ---------------------------*/
.leftMenu {
	position:fixed;
	left:0px;
	bottom:80px;
	width:50px;
	z-index:10000000;
}
.leftMenu img {
	display:block;
	float:right;
	background-color:#5F5F5F;
	padding:10px;
	background-image:url(images/noise-3.png);
	border-bottom:1px solid #444;
	cursor:pointer;
}
.clear {
	clear:both;
}
.leftMenu img:hover {
	background-color:#424242;
}

.menu {
	width:270px;
	background-color:#444444;
}
.greenC {
	color:#A6CE39;
	padding-left:20px;
	font-weight:bold;
	font-size:18px;
}
.whiteC {
	margin-top:-15px;
	font-size:18px;
	color:white;
	font-weight:bold;
	padding-left:20px;
}
.menuBg {
	background-color:#424242 !important;
}






/*-----------------------------------Page 2 howto-------------------------------------------*/
/*------------------------------nav------------------------*/
.howToNav {
	background-color:white;
}
.navList2 {
	width: 940px;
    margin: auto;
    padding: 0px;
    /* margin-left: 33px; */
    margin-top: -32px;
    margin-bottom: 35px;
    background-color: white;
}
.navList2 li{
	list-style:none;
	display:inline-block;
	padding-top:3px;
}
.navList2 li a {
	display:block;
	color:#595858;
	line-height:50px;
	padding:0 10px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	box-sizing:border-box;
}
.navList2 li a:hover {
	background-color:#F6F5F5;
	box-sizing:border-box;
	color:#333;
}
.currentLink {
	background-color:#F6F5F5;
	border-top:2px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	line-height:47px !important;
	position:relative;
}
.currentLink::after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 41%;
}


/*--------------left ads------------*/
.leftAds {
	background-color:white;
	width:700px;
	padding:30px;
	box-sizing:border-box;
	padding-bottom:100px;
	margin-bottom:30px;
	float:left;
}
.accordion > div {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#777;
}
.leftAds h1, h2, h3 {
	padding:0px;
	margin:0px;
}
.leftAds h2 {
	font-size:26px;
	margin-bottom:15px;
}
.accordion h3 {
	padding-top:35px;
	padding-left:18px;
}
.accordion > div {
	padding-left:18px;
}
.accordion h3:nth-of-type(1) {
	background:url(images/howto/accordion-bullet.png) 0px -135px no-repeat !important;
	color:#749B33 !important;
}
.accordion h3:nth-of-type(2), .accordion h3:nth-of-type(3) {
	background:url(images/howto/accordion-bullet.png) 0px 42px no-repeat;
}

.hovered {
	cursor:pointer;
	display:block;
}

.hoverGreen {
	color:#749B33;
}
.hoverGreenParent {
	background:url(images/howto/accordion-bullet.png) 0px -46px no-repeat !important;
}
.rightAds {
	width:220px;
	height:670px;
	background:url(images/howto/side-calculator-bg.jpg);
	float:right;
	margin-bottom:50px;
	position:relative;
}
.rightAds h4 {
	color:white;
	margin-left:22px;
	margin-top:15px;
	margin-right:20px;
	background:url(images/howto/zero.png) left no-repeat;
	text-align:right;
	position:relative;
}
.percent {
	font-size:23px;
	font-family:verdana;
	color:white;
	top:0px;
	left:25px;
	font-weight:bold;
	position:absolute;
}

.calcCon {
	position:relative !important;
	height:100px;
}
.valSmall {
	position:absolute;
	right:20px;
	border:2px solid #637646;
	border-radius:5px;
	line-height:25px;
	text-align:right;
	padding-right:5px;
	top:-27px !important;
}
.moneySmall {
	position:absolute;
	left:20px;
	font-weight:bold;
	color:white;
	font-size:18px;
	top:25px;
}
.sliderSmall {
	border:2px solid #637646;
	width:175px;
	margin-top:70px;
	margin-left:20px;
}

.sldSml {
	margin-top:40px;
}

.sldSmlVal {
	position:absolute;
	right:20px;
	border:2px solid #637646;
	border-radius:5px;
	line-height:25px;
	text-align:right;
	padding-right:5px;
	top:-27px !important;
}
.sumSmall {
	position:absolute;
	left:10px;
	top:300px;
}

/*------------------------page2 section why -------------------------------*/
.whyVivus {
	margin:0px;
	padding:0px;
}
.whyVivus li {
	padding:0px;
	margin:0px;
	list-style:none;
	border-bottom:1px solid #ccc;
	padding-left:100px;
	padding-bottom:5px;
	position:relative;
	padding-top:15px;
}
.whyVivus li h4 {
	margin:0px;
	font-size:large;
	padding-top:10px;
}
.whyVivus li > p {
	font-size:13px;
	color:#666;
}
.whyVivus li > p > a {
	color:#178BD0;
	text-decoration:none;
	cursor:pointer;
}
.whyVivus li > p > a:hover {
	text-decoration:underline;
}
.whyVivus li > img {
	position:absolute;
	left:0px;
	width:80px;
	height:80px;
}

/*--------------------------agrements--------------------------*/
.saveButs {
	display:flex;
	justify-content:flex-end;
	margin-top:3px;
}
.saveButs > a {
	width:80px;
	line-height:30px;
	background-color:#8BAB32;
	margin-left:10px;
	text-align:right;
	text-decoration:none;
	color:white;
	padding-right:5px;
	font-size:13px;
	box-sizing:border-box;
	border:1px solid #637646;
	border-radius:4px;
}
.save {
	background:url(images/howto/agreement/button-icon-save.png) 5% 50% no-repeat;
}
.print {
	background:url(images/howto/agreement/button-icon-print.png) 5% 50% no-repeat;
}
.textarea {
	height:800px;
	overflow:auto;
	border:1px solid #A9A9AA;
	padding:10px;
	font-size:small;
	color:#666;
	box-sizing:border-box;
	margin-top:20px;
}



/*--------------------------borrow smartly------------------------------*/
.borrow {	
	padding:0px;
	position:relative;
	padding-bottom:20px;
}
.hd {
	margin:0px;
	padding:0px;
	color:#5B5B60;
}
.xxx {
	color:#F9BB64;
}
.borrow > li {
	padding-left:50px;
	padding:0px;
	margin-left:100px;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
}
hr {
	border:none;
	border-bottom:1px solid #E5E5E5;
	margin-bottom:30px;
	margin-top:30px;
}
.borrow > li > img {
	position:absolute;
	left:0px;
}
.subList {
	padding:0px;
	margin-top:20px;
}
.subList li {
	list-style:none;
	padding-left:20px;
	margin-left:20px;
	font-size:14px;
	color:#666;
	margin-bottom:10px;
}
.greenUL {
	background:url(images/howto/borrow-smartly/icon-yes.png) 0% 25% no-repeat;	
}
.greenH5 {
	color:#A6CE39;
}
.carrotH5 {
	color:#F8911E;
}
.carrotUL {
	background:url(images/howto/borrow-smartly/icon-no.png) 0% 25% no-repeat;
}
.borrow > hr:last-child {
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:10px;
}
.borrow {
	padding-bottom:0px;
	margin-bottom:0px;
}
.borrow h5 {
	color:#5B5B5B;
}


/*--------------------identification-------------------------*/
.ident {
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
}
.ident h2 {
	color:#000;
}
.ident p {
	font-size:13px;
}
.ident > table tr:nth-of-type(odd) {
	color:#555;
	font-weight:bold;
}
.ident table {
	margin-top:40px;
	margin-bottom:30px;
}
.ident table tr td {
	padding:5px;
	padding-right:100px;
	width:200px;
}
.ident table tr {
	border-top:1px solid #ddd;
	height:30px;
	display:inline-block;
	margin:2px 0;
}
.ident table tr:last-child {
	border-bottom:1px solid #ddd;
	padding:2px;
}


/*---------------------------repay---------------------------*/
.paySourc {
	display:flex;
	align-content:center;
	justify-content:space-between;
}
.paySourc > div {
	display:flex;
	flex-direction:column;
	font-size:12px;
	align-items:center;
	margin-bottom:35px;
}
.leftBank {
	font-size:12px;
	color:#555;
	width:300px;
	float:left;
}
.rightBank {
	margin-top:5px;
}
.rightBank table {
	font-size:12px;
	padding-top:8px;
}
.rightBank > table th {
	text-align:left;
	width:200px;
}
.rightBank > table td {
	padding-right:30px;
}
.rightBank > table tr {
	display:block;
	border-top:1px solid #ddd;
	padding:4px;
}
.rightBank > table tr:last-child {
	border-bottom:1px solid #ddd;
}
.repay > p {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
}
.repay a {
	color:#1788CC;
	text-decoration:none;
}
.repay a:hover {
	text-decoration:underline;
}


/*----------------------------faq------------------------------*/
.faq {
	font-family:arial;
}
.faq h3 {
	line-height:55px;
	color:#555;
}
.faq > div {
	font-size:13px;
	color:#555;
	padding-bottom:25px;
}
.wrapSpan {
	cursor:pointer;
	background:url(images/howto/accordion-bullet.png) 0px 4px no-repeat;
}
.wrapSpan:hover {
	color:#749B39 !important;
	background:url(images/howto/accordion-bullet.png) 0px -84px no-repeat;
}
.greenH3 {
	color:#749B39 !important;
	background:url(images/howto/accordion-bullet.png) 0px -172px no-repeat !important;
}


/*---------------------howToReturn--------------------*/
.numberList {
	padding:0px;
	list-style-position:inside !important;
	list-style:decimal;
}
.ordinary {
	padding-left:25px;
	list-style-type:disc;
	
}
.faq {
	line-height:18px;
}
.niceLink {
	color:#1788CC;
	text-decoration:none;
}
.niceLink:hover {
	text-decoration:underline;
}
.lastH3 {
	margin-bottom:-25px;
}
.pos {
	position:relative;
	left:22px;
	top:-22px;
	margin-bottom:-20px;
}
.lastH3 > span {
}



/*------------------------loial-------------------------*/
.loial > img {
	float:right;
	padding-left:10px;
}
.loial ul {
	padding-left:25px;
}
.loial:not(h2) {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
	text-align:justify;
}


/*-----------------------------news----------------------------*/
.flexNews  {
	display:flex;
	flex-wrap:wrap;
}
.flexNews > div {
	margin-right:10px;
	width:200px;
	margin-bottom:10px;
	height:255px;
	border:1px solid #E5E5E5;
	box-sizing:border-box;
	padding:10px;
}
.flexNews > div > a {
	text-decoration:none;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	font-size:small;
}
.flexNews > div > a:hover {
	text-decoration:underline;
}
.flexNews > div > a > img {
	margin:2px 0;
	max-width:100%;
}
.flexNews > div > a > span {
}
.newsDate {
	font-weight:bold;
}
.news {
	font-family:Arial, Helvetica, sans-serif;
}
.news h2 {
	color:black;
}
.news:not(h2) {
	font-size:13px;
	line-height:18px;
	color:#555;
}
.news > img {
	float:left;
	padding-right:10px;
}
.news ul {
	padding-left:25px;
}
.imgLeft {
	float:left;
	padding-right:10px;
}
.red {
	color:red;
	font-weight:bold;
}



/*---------------------------------workingTime------------------------------------*/
.workingTime {
	margin-bottom:30px;
}
.workingTime:after {
	content:"";
	display:block;
	clear:both;
}
.workingTime > div {
	float:left;
	width:33%;
	text-align:center;
}
.workingTime > div p:last-child {
	font-size:18px;
	color:black;
}


/*------------------------contact--------------------------*/
.consult {
	display:flex;
	justify-content:center !important;
	align-items:center !important;
	align-content:center !important;
}
.consult > button {
	margin:0px !important;
	margin-right:30px !important;
}
.contact .news > table {
	width:100%;
}
.contact .news > table tr {
	display:block;
	text-align:left;
	border-top:1px solid #EEEEEE;
	padding:5px 0;
}
.contact .news > table tr:last-child {
	border-bottom:1px solid #EEEEEE;
}
.contact .news > table tr th, .contact .news > table tr td {
	width:200px;
	padding-right:100px;
	padding-left:10px;
}

.peopleType {
	border-top:2px solid #EFECF0;
	clear:both;
	position:relative;
	margin:20px 0;
}
.peopleType img {
	top:30px;
	margin:5px 0;
	position:absolute;
}
.peopleType h4 {
	margin-left:160px;
}
.peopleType > p{
	margin-left:160px;
}
.contact > .news > h3:first-child {
	color:#B1CE3F;
	font-size:large;
}
.contact > .news  h2:nth-of-type(1) {
	color:#B1CE3F;
}
.contact > .news > h3 + p:first-of-type {
	color:#339966;
	font-weight:bold;
}
.rightImg {
	float:right;
}
.aboutUs h2 {
	color:black !important;
	font-weight:normal;
}

.niceGreen {
	color:#379AD3;
}
.Pingbacks, .Pingbacks li {
	list-style:none;
	padding:0px;
	margin:0px;
}
.Pingbacks li a {
	position:relative;
	color:#379AD3;
	text-decoration:none;
}
.Pingbacks li a:hover {
	text-decoration:underline;
	color:black;
}
.sprite{
	position:absolute;
	left:-15px;
	bottom:2px;
	background: url(images/glyphicons-halflings.png) no-repeat -337px -99px;
	width: 12px;
	height: 10px;
}